##########################
# Kedro PROJECT

# ignore Dockerfile and .dockerignore
Dockerfile
.dockerignore

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore all local configuration
conf/local
!conf/local/.gitkeep

# ignore everything in the following folders
data
logs
notebooks
references
results

# except the following
!logs/.gitkeep
!notebooks/.gitkeep
!references/.gitkeep
!results/.gitkeep

# Allow kaggle.json
!.kaggle/kaggle.json
# NOTE: Le dossier model/ n'est PAS ignoré
# donc model/yolov8n.pt et model/model.pt seront disponibles dans Docker